<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="educationalInstitute">
            <h2><span jhiTranslate="cardHolderGatewayApp.educationalManagementEducationalInstitute.detail.title">Educational Institute</span> {{educationalInstitute.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cardHolderGatewayApp.educationalManagementEducationalInstitute.name">Name</span></dt>
                <dd>
                    <span>{{educationalInstitute.name}}</span>
                </dd>
                <dt><span jhiTranslate="cardHolderGatewayApp.educationalManagementEducationalInstitute.code">Code</span></dt>
                <dd>
                    <span>{{educationalInstitute.code}}</span>
                </dd>
                <dt><span jhiTranslate="cardHolderGatewayApp.educationalManagementEducationalInstitute.address">Address</span></dt>
                <dd>
                    <span>{{educationalInstitute.address}}</span>
                </dd>
                <dt><span jhiTranslate="cardHolderGatewayApp.educationalManagementEducationalInstitute.imageId">Image Id</span></dt>
                <dd>
                    <span>{{educationalInstitute.imageId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/educational-institute', educationalInstitute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
